# FCU
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bb10", GROUP="plugdev", TAG+="uaccess"
# FCI + EFIS-R
ATTRS{idVendor}=="4098", ATTRS{idProduct}=="bc1e", GROUP="plugdev", TAG+="uaccess"
